/*
  Only .calc__boxes
*/

.calc-boxes {
  display: flex;
  justify-content: center;

  padding: 1rem 0;
  min-height: 30vh;
}
/*
  In .calc__box
*/

.calc__box {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
}
/* inputs */
.calc__box input {
  transition: border 0.3s linear;
}
.calc__switch-input {
  width: calc(100% / 2);
  margin: 0.5rem;
  padding: 0.2rem;
  font-size: 1.2rem;

  text-transform: uppercase;
  border-bottom: 1px dashed rgb(190, 190, 190);
}
.calc__switch-input:focus {
  border-color: black;
}
.calc__cash-value {
  width: 20rem;
  padding: 0.3rem;
  font-size: 2rem;

  border-radius: 5px;
  border: 1px solid rgb(190, 190, 190); /* hotpink */
}
.calc__cash-value:focus {
  border-color: black;
}
/* .calc__box:first-child .calc__switch-input {
  background-color: violet;
} */
